label.LogoLabel {
	position: absolute;
	margin-top: 2px;
	font-size: 18px;
}

header.menu section#Opciones #Outer1 {
	margin-right: -3px; 
	margin-top: -10px; 
	padding: 14.5px; 
	background-color: rgba(0,0,0,.3);
}

header.menu section#Opciones #Outer1:hover {
	background-color: rgba(0,0,0,.4);
}

header.menu section#Opciones #Outer2 {
	margin-right: -20px; 
	margin-top: -10px; 
	padding: 14.5px; 
	background-color: rgba(0,0,0,.5);
}

header.menu section#Opciones #Outer2:hover {
	background-color: rgba(0,0,0,.6);
}