label.LogoLabel {
	position: absolute;
	margin-top: 1px;
	font-size: 22px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000;
}

header.menu section#Opciones .Outer1 {
	margin-right: -4px; 
	margin-top: -10px; 
	padding: 14.5px; 
	background-color: rgba(0,0,0,.3);
}

header.menu section#Opciones .Outer1:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,.4);
}

header.menu section#Opciones .Outer2 {
	margin-right: -4px; 
	margin-top: -10px; 
	padding: 14.5px; 
	background-color: rgba(0,0,0,.5);
}

header.menu section#Opciones .Outer2:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,.6);
}

header.menu section#Opciones .Outer3 {
	margin-right: -20px; 
	margin-top: -10px; 
	padding: 14.5px; 
	background-color: rgba(0,0,0,.6);
}

header.menu section#Opciones .Outer3:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,.7);
}

nav ul.MenuOptionsChoose {
	width: 650px;
	height: 200px;
}

nav ul.MenuOptionsChoose .OptionsBox {
	width: 160px;
	height: 130px;
	display: inline-block;
	/*border: 1px solid #000;*/
}

nav ul.MenuOptionsChoose .OptionHotel {
	background: url('../src/img/2.png');
	background-size: cover;
	background-attachment: inherit;
}

nav ul.MenuOptionsChoose .OptionComedor {
	background: url('../src/img/1.png');
	background-size: cover;
	background-attachment: inherit;
}

nav ul.MenuOptionsChoose .OptionTienda {
	background: url('../src/img/3.png');
	background-size: cover;
	background-attachment: inherit;
}

nav ul.MenuOptionsChoose .OptionHospital {
	background: url('../src/img/4.png');
	background-size: cover;
	background-attachment: inherit;
}

nav ul.MenuOptionsChoose .OptionMuseo {
	background: url('../src/img/5.png');
	background-size: cover;
	background-attachment: inherit;
}

nav ul.MenuOptionsChoose .OptionOtro {
	background: url('../src/img/6.png');
	background-size: cover;
	background-attachment: inherit;
}

nav ul.MenuOptionsChoose .OptionsBox .option {
	margin-top: 90%;
}

nav ul.MenuOptionsChoose input#NextForm {
	border: none;
	padding: 7px;
	margin-top: 10px;
	color: #fff;
	background-color: teal;
	font-size: 17px;
}

nav ul.MenuOptionsChoose input#NextForm:hover {
	background-color: rgba(0,0,0,.3);

}