<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
      
        <div class="form" id="form">
            <div class="field email">
                <div class="icon"></div>
                <input class="input" id="email" type="email" placeholder="Email" autocomplete="off"/>
            </div>

            <div class="field password">
                <div class="icon"></div>
                <input class="input" id="password" type="password" placeholder="Password"/>
            </div>

            <button class="button" id="submit">INICIAR SESIÓN
                <div class="side-top-bottom"></div>
                <div class="side-left-right"></div>
            </button><small>Registrarse</small>
        </div>
        
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script  src="js/index.js"></script>
    </body>
</html>
